<table>
  <tr>
    <th>Name</th>
    <th>Admin</th>
  </tr>

  <tr *ngFor="let entity of entities; index as index">
    <td>
      <s-inline-editor (update)="updateField(index, 'name')">
        <ng-template viewMode>{{entity.name}}</ng-template>
        <ng-template editMode>
          <input [formControl]="getControl(index, 'name')">
        </ng-template>
      </s-inline-editor>
    </td>
    <td>
      <s-inline-editor (update)="updateField(index, 'isAdmin')">
        <ng-template viewMode>{{entity.isAdmin}}</ng-template>
        <ng-template editMode>
          <input type="checkbox" [formControl]="getControl(index, 'isAdmin')">{{entity.isAdmin}}
        </ng-template>
      </s-inline-editor>
    </td>
  </tr>
</table>
